.venv/
.env
__pycache__/
*.sqlite3
node_modules/
static/styles/output.css
static/scripts/output.js
temp/
staticfiles/
media/posts/images/*.png
media/posts/images/*.jpg
media/posts/images/*.webp
media/posts/videos/*.mov
media/posts/videos/*.webm
.vscode/
