{% extends "shared/base.html" %}

{% block title %}about me{% endblock title %}

{% block content %}
<section class="bg-white">
	<div class="mx-auto max-w-screen-lg">
		<div class="text-right my-16">
			<span class="bg-black text-white rounded-xl p-4 tracking-wider text-lg font-light">Who are you?</span>
		</div>
		<div class="text-left mb-16">
			<span class="bg-gray-200 text-black rounded-xl p-4 tracking-wider text-lg font-light">I am Chuan, a concert lighting artist and full-stack engineer.</span>
		</div>
		<div class="text-right my-16">
			<span class="bg-black text-white rounded-xl p-4 tracking-wider text-lg font-light">What is your social media account?</span>
		</div>
		<div class="text-left mb-16">
			<span class="bg-gray-200 text-black rounded-xl p-4 tracking-wider text-lg font-light">You can find my social media on the side of the screen.</span>
		</div>
		<div class="text-right my-16">
			<span class="bg-black text-white rounded-xl p-4 tracking-wider text-lg font-light">How do I get in touch with you?</span>
		</div>
		<div class="text-left mb-16">
			<span class="bg-gray-200 text-black rounded-xl p-4 tracking-wider text-lg font-light">My email address is chienchuanwww@gmail.com</span>
		</div>
	</div>
</section>

{% endblock content %}