<footer class="w-full bg-white h-24 mt-8">
  <div class="mx-auto max-w-screen-xl">
    <div class="flex items-center justify-between mt">
      <span class="text-black tracking-wider font-normal text-lg"
        >
        <a href="https://chienchuanw.com" class="hover:underline hover:underline-offset-[5px]"
          >© 2024 chienchuanw™</a
        >
      </span>
			{% if user.is_authenticated %}
			<div>
				<form action="{% url "users:logout" %}" method="post">
					{% csrf_token %}
					<button class="inline-flex items-center p-2 px-5 text-lg tracking-wider rounded-full text-white bg-black text-center font-bold hover:bg-white hover:text-black">logout</button>
				</form>
			</div>
			{% endif %}
    </div>
  </div>
</footer>
