<header class="pt-10 pb-4 px-4 mx-auto max-w-screen-xl">
  <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
		<h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900"><a href="{% url "home" %}">@chienchuan_w</a></h2>
		<div class="font-light text-sm text-gray-500 sm:text-sm">
			<p><a href="https://www.instagram.com/chienchuan_w/" target="__blank" class="bg-black text-white px-2 hover:bg-white hover:text-black hover:font-bold hover:underline hover:underline-offset-4">lighting artist</a> / <a href="https://github.com/chienchuanw" target="__blank" class="bg-black text-white px-2 hover:bg-white hover:text-black hover:font-bold hover:underline hover:underline-offset-4">full-stack engineer</a></p>
			<p>This is my blog which will be developed gradually day by day.</p>
		</div>
	</div> 
</header>
