{% load static %}
<header class="bg-white outline outline-black w-full h-24 flex items-center">
	<nav class="max-w-screen-xl mx-auto">
		<div class="flex items-center justify-center gap-8">
			<div>
				<ul class="flex gap-10 font-normal tracking-wider text-xl">
					<li><a href="{% url "home" %}" class="hover:underline hover:underline-offset-[5px]">Home</a></li>
					<li><a href="{% url "posts:list" %}" class="hover:underline hover:underline-offset-[5px]">Blog</a></li>
					<li><a href="#" class="hover:underline hover:underline-offset-[5px]">Lighting</a></li>
					<li><a href="#" class="hover:underline hover:underline-offset-[5px]">About me</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>





{% comment %} <header class="pt-10 pb-4 px-4 mx-auto max-w-screen-lg">
	<!--
	<div id="id_wrapper">
		<nav>
			<a href="{% url "home" %}" class="mb-4 text-gray-900">chienchuanw</a>
			<div id="id_navi">
				<a href="">about</a>
				<a href="">blog</a>
				<a href="">lighting</a>
			</div>
		</nav>
	</div>
	-->
	
  <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
		<h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900"><a href="{% url "home" %}">chienchuanw</a></h2>
		<div class="font-light text-sm text-gray-500 sm:text-sm">
			<p><a href="https://www.instagram.com/chienchuan_w/" target="__blank" class="bg-black text-white px-2 hover:bg-white hover:text-black hover:font-bold hover:underline hover:underline-offset-4">lighting artist</a> / <a href="https://github.com/chienchuanw" target="__blank" class="bg-black text-white px-2 hover:bg-white hover:text-black hover:font-bold hover:underline hover:underline-offset-4">full-stack engineer</a></p>
			<p>This is my blog which will be developed gradually day by day.</p>
		</div>
	</div> 
</header> {% endcomment %}
